# https://wiki.archlinux.org/title/NVIDIA#Hardware_accelerated_video_encoding_with_NVENC

ACTION=="add", DEVPATH=="/bus/pci/drivers/nvidia", RUN+="/usr/bin/nvidia-modprobe -c 0 -u"
